<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701369603431-uioah0433j9tdofj1ifiqj5v90tsnujt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701369603431-uioah0433j9tdofj1ifiqj5v90tsnujt</string>
	<key>API_KEY</key>
	<string>AIzaSyCuGkjUa2hg3GX4tfIPykAlj877gwKJv_g</string>
	<key>GCM_SENDER_ID</key>
	<string>701369603431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flashchat.app</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-app-be9d7</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-app-be9d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701369603431:ios:0b10195e474493d94a0bc2</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-app-be9d7.firebaseio.com</string>
</dict>
</plist>